/**********Portfolio Site**********/

/***** BASE STYLES *****/

html {
min-width: 1200px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
	padding: 0px;
}

#about, #skills, #contact {
    height: 340px;
}
	

/***** GRID *****/
.wrapper{
	width: 1200px;
    margin: 0 auto;
}

/**** for full width change width:506px***/
.third-width {
	width: 400px;
	height: 340px;
	margin: 0px; 
	padding: 0px;
	float: left;
}

/*****FOR FULL WIDTH
 .container{
      height: 100%;
  	  margin: 0;
*******/

/***** BASE STYLES *****/
header {
    height: 560px;
    /*background: url('../img/view.jpg');*/
    background-color: #FCECDB;
    background-size: cover;
}

nav#soc-med {
    background: #E0CBB0 none repeat scroll 0 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 50px;
    padding: 5px 5px;
    position: fixed;
    width: 70px; 
}

nav#soc-med li a {
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    float: left;
 }

nav#soc-med .fa {
    color: #5C5463;
    text-decoration: none;
     margin: 0px;
    padding: 0px;
}

#soc-med ul li a .soc-med-icon-top {
    color: #5C5463;
    margin: 0px;
    padding: 0px;
}

header h1 { 
    font-family: 'Permanent Marker', cursive;
    font-size: 44px;
    color: #A6879C;   
    float: right;
   	margin: 0px 400px 0px 0px;
    padding: 40px 0px;
    background-color:;
    width: 364px;
    text-align: center;
}

nav { 
	width: 130px;
    float: right;
    background-color: ;
    clear: right;
   	margin: 0px; 
    padding: 0px;
    font-weight: bold;
}

ul {  
	list-style-type: none;
	}
	
nav ul{
 display: inline-block;

}

nav ul li{
	padding: 0px 0px 40px 0px;
	text-align: right;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #5C5463;
    font-family: 'Lora', serif;'
}

li a:hover {
    background-color: #A6879C;
    color: white;
}

header h2 {
    width: 400px;
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 80px;
    color: #5C5463;
   	padding: 0px 0;
   	margin: 0px 0px 0px 0px;
   	float: left;
}

header h2 span {
    color: #2B2B2B;
}

#photo {
	float: left;
	 margin: 0px 0px 0px 140px;
 	 height: 200px;
 	 width: 200px;;
 	 -webkit-border-radius: 180px;
 	 -moz-border-radius: 180px;
 	 border-radius: 300px;
 	 box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
}

/***** ABOUT *****/

main {
    background-size: cover;
}

.brown {
	background-color: #E0CBB0;
}

.purple {
	background-color: #A6879C;
}

.gray {
	background-color: #A2122F;
}

.dark {
	background-color: #5C5463;
}

.white {
	background-color: #;
}

.border {
	border-top: 0px groove lightgray;
}

.picture {
	width: 400px;
	height: 100%;
	padding: 0px;
	margin: 0px;
}


#about h2 {
    font-family: 'Lora', serif;
    font-size: 24px;
    text-align: center;
    color: #5C5463;
    font-weight: bold;
}
 
#about p {
    font-size: 20px;
    color: #5C5463;
    line-height: 42px;
    padding: 10px 35px;
   	text-align: center;
    font-family: 'Source Sans Pro'', sans-serif;
}

/***** SKILLS *****/

#skills {
		background-color: ;
		text-align: center;
	}

#skills h3 {
    font-size: 24px;
    color: white;
    width: 190px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    padding-top: 60px;
    text-align: center;
}
 
#skills p {
    font-family: 'Source Sans Pro'', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: white;
    padding: 0 35px;
    text-align: center;
}

#contact h3 {
    font-size: 20px;
    color: #5C5463;
    width: 190px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    padding-top: 60px;	
    text-align: center;
}

#contact p {
	font-family: 'Source Sans Pro'', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #5C5463;
    padding: 0 100px;
    text-align: center;
    
}

#contact #email {
	padding: 0px 100px; 
	text-align: center;
}

#contact a{
	font-size: 20px;
	display: inline-block;
	text-align: center;
	color: #5C5463;
	padding: 10px;
}


#soc-med-2 {
	text-align: center;	
	margin-left: 100px;
}

#soc-med-2 ul li{
    list-style: none;
    text-align: center;
    float: left;
    width: 40px;
}



/************FOOTER*****************/

footer  {
	clear: both;
	background-color: #FCECDB;
	height: 60px;
	padding: 0px 0px;
}

footer .copyright{
	padding: 10px 0px 0px 20px;
}	  
	  
