/***** BASE STYLES *****/

html {
min-width: 1200px;
}

body {
font-family: 'Source Sans Pro', sans-serif;
}

#about, #skills, #contact {
    height: 340px;
  
}

/***** GRID *****/
.full-width {
	width: 1200px;
    margin: auto;
}


.third-width {
	width: 506px;
	height: 340px;
	margin: none; 
	padding-top: 15px;
	float: left;
}

/***** BASE STYLES *****/
header {
    height: 420px;
    /*background: url('../img/view.jpg');*/
    background-color: #FCECDB;
    background-size: cover;
    #border-bottom: 2px solid gray;
}

header h1 { 
    font-family: 'Lora', serif; 
    font-size: 42px;
    color: #A6879C;   
    float: right;
    margin: 0px;
    padding: 40px 0px;
    background-color:;
    width: 340px;
}

nav { 
	width: 130px;
    float: right;
    background-color: ;
    clear: right;
   	margin: 0px; 
    padding: 0px;

}

ul {  
	list-style-type: none;
	}
	
nav ul{
 display: inline-block;

}

nav ul li{
	padding: 0px 0px 40px 0px;
	text-align: right;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #5C5463;
}

li a:hover {
    background-color: #A6879C;
    color: white;
}

header h2 {
    width: 400px;
    font-family: 'Lora', serif;
    font-size: 30px;
    line-height: 80px;
    color: #5C5463;
   	padding: 0px 0;
   	margin: 0px 0px 0px 0px;
   	float: left;
}

header h2 span {
    color: #2B2B2B;
}

#photo {
	float: left;
	 margin: 0px 120px 0px 0px;
 	 height: 200px;
 	 width: 200px;;
 	 -webkit-border-radius: 180px;
 	 -moz-border-radius: 180px;
 	 border-radius: 300px;
 	 box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
}

.circular{

}


/***** ABOUT *****/
#about .third-width {
	
}

.brown {
	background-color: #E0CBB0;
}

.purple {
	background-color: #A6879C;
}

.gray {
	background-color: #A2122F;
}

.dark {
	background-color: #5C5463;
}

.white {
	background-color: #;
}

.border {
	border-top: 0px groove lightgray;		
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}
 
#about p {
    font-size: 21px;
    color: #7F7F7F;
    line-height: 42px;
    padding: 10px 35px;
   text-align: justify;
}

/***** SKILLS *****/

#skills {
		background-color: ;
		text-align: center;
	}

#skills .full-width {
    padding: 115px 0;
}
 
#skills img {
    padding-bottom: 30px;
}

#skills h3 {
    font-size: 24px;
    color: white;
    width: 190px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    padding-top: 60px;
}
 
#skills p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 28px;
    color: white;
    padding: 0 35px;
}

#contact h3 {
	 font-size: 24px;
    color: black;
    width: 190px;
    margin: 0 auto;
    font-family: 'Lora', serif;
    padding-top: 60px;	
}

#contact p {
font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 28px;
    color: black;
    padding: 0 180px;
}

footer  {
	clear: both;
	background-color: #F0DDB0;
	height: 60px;
}

/***** CONTACT *****/
#contact {
	background: ;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-img {
    border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}
#contact #email-header{
    font-size: 32px;
    font-weight: 400;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    margin: 40px 0 0px 0;
}
#contact a {
    text-decoration: none; 
    color: #C49075;
    font-weight: bold;
    font-size: 28px; 
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}


//***
		/*<div class="half-width">
	    					<img id="contact-img" src="img/contact.png" alt="Contact"/>
	    				</div>
	    				
	    				<div class="half-width">
	    					<div id=contact-info">
	    						<h2>Like what you see? </h2>
	    						<h3 id="email-header">Let's meet for a cup of coffee. </h3>
	    						<a href= "mailto:hi@jubileeausten.com" target="_blank">
	    							<img id="envelope" src="img/icon-envelope.png" alt="Envelope Icon"/>
	    						</a>
	    						<h3 id="socialmedia-header">Or, find me on the interwebs. </h3>
	    						=
	    					</div>*/
	    				</div>
	    			</div>




	  ****//// 
	  
	  